.request-page .table-container {
    max-height: 23rem;
    overflow-y: auto;
}

.request-page table {
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
}

.request-page .table-head {
    background-color: #48AAAD;
    color: white;
}

.request-page th:first-child {
    border-radius: 10px 0 0 0;
}

.request-page th:last-child {
    border-radius: 0 10px 0 0;
}

.request-page thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.request-page .table-head th, .request-page td {
    background-clip: padding-box;
    padding: 1rem;
}

.request-page button {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: #48AAAD;
    border-radius: 10px;
}

.detail {
    margin-left: 20vw;
}