.history-page .table-container {
    max-height: 17rem;
    overflow-y: auto;
}

.history-page table {
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
}

.history-page .table-head {
    background-color: #48AAAD;
    color: white;
}

.history-page th:first-child {
    border-radius: 10px 0 0 0;
}

.history-page th:last-child {
    border-radius: 0 10px 0 0;
}

.history-page thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.history-page .table-head th, .history-page td {
    background-clip: padding-box;
    padding: 1rem;
}

.history-page button {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: #48AAAD;
    border-radius: 10px;
}
