/* body {
    overflow-x: hidden;
} */
.row {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}

.home-page video {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.home-page img {
  position: relative;
  object-fit: cover;
}

.overlay-content {
  padding-top: 5%;
  position: absolute;
  left: 3%;
  color: #264646;

  button {
    margin-right: 2vw;
    border-radius: 10px;
    background-color: #48AAAD;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    transition: 0.3s background-color;
    border: none;
  }

  button:hover {
    background-color: #264646;
  }
}

@media screen and (max-width: 1199px) {
  .overlay-content {
    position: inherit;
    text-align: center;
  }
}