

#manage-staff h1{
    margin-bottom: 1rem;
    text-transform: uppercase;
}

#search-bar input {
    width: 100%;
    height: 100%;
}

#action-button {
    cursor: pointer;
}

.popup-div button{
    display: block;
    width: 5rem;
    border: none;
}

.popup-div button:hover {
    background-color: gray;
}

.input-label {
    width: 4rem;
}