#manage-request #status-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.status-circle {
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.status-circle.active {
    background-color: #48AAAD;
}

.status-circle.active p {
    color: white;
}

.status-circle p {
    overflow: hidden;
    text-align: center;
}

#manage-request .table-head {
    border-radius: 10px 10px 0 0;
    background-color: #48AAAD;
    color: white;
}

#manage-request th:first-child {
    border-radius: 10px 0 0 0;
}

#manage-request th:last-child {
    border-radius: 0 10px 0 0;
}

#manage-request table {
    font-size: 1.3rem;
    text-align: center;
    box-shadow: 0px 1.908px 19.078px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
}

#manage-request .table-head th,td {
    background-clip: padding-box;
    padding: 1rem;
}

#manage-request thead {
    background-color: #48AAAD;
}

#manage-request button {
    font-weight: bold;
    color: white;
    background-color: #48AAAD;
    border-radius: 20px;
    border: none;
    transition: 0.2s;
}

#manage-request button:hover {
    background-color: #5db8bb;
}